/* Google Font Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins" , sans-serif;
  scroll-behavior: smooth;
}

/*HEADER*/
.header{
  height: 1000px;
  width: 100%;
  background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)), url(../Images/banner6.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}

.company_name{
  color: #faebd7;
  font-size: 85px;
  font-weight: bold;
  position: relative;
  top: 120px;
  left: 20px;
}

.mainlogo{
  padding: 400px 400px 400px 400px;
}

.text-box{
  width: 90%;
  color: #fff;
  padding: 0 0 0;
  position: relative;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.text-box h1{
  font-size: 55px;
}

.para1{
  margin: 10px 0 40px;
  font-size: 14px;
  color: #fff;
}

.hero-btn{
  display: inline-block;
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  padding: 12px 34px;
  font-size: 13px;
  background: transparent;
  position: relative;
  /*cursor: pointer;*/
}

.hero-btn:hover{
  border: 1px solid #f44336;
  background: #f44336;
  transition: 0.5s;
}

.para2{
  width: 90%;
  color: #ffa07a;
  font-size: 30px;
  padding: 50px 0 0;
  position: absolute;
  top: 90%;
  left: 5%;
  font-weight: bold;
  transform: translateX(-50%, -50%);
  text-align: center;
  line-height: 100%;
}

.image{
  width: 100%;
  height: 300px;
}

/*CATEGORIES*/
.categ{
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 10px;
}

h1{
  text-align: center;
  font-size: 36px;
  font-weight: 600;
}

p{
  text-align: center;
  color: #777;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  padding: 10px;
}

.row{
  margin: 5%;
  display: flex;
  justify-content: space-between;
}

h3{
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  margin: 10px 0;
}

.categ-col{
  flex-basis: 31%;
  background: #fff3f3;
  border-radius: 10px;
  margin-bottom: 5%;
  padding: 20px 12px;
  box-sizing: border-box;
  transition: 0.5s;
}


.categ-col:hover{
  box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}

/*HOME DECOR*/
.hd{
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 50px;
}

.hd-col{
  flex-basis: 32%;
  border-radius: 10px;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
}

.hd-col img{
  width: 100%;
  height: 100%;
  display: block;
}

.layer{
  background: transparent;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: 1s;
}

.layer: hover{
  background: rgba(226, 0, 0, 0.7);
}

.layer h3{
  width: 100%;
  font-weight: 500;
  color: #000000;
  font-size: 26px;
  font-weight: bold;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  opacity: 0;
  transition: 0.5s;
}

.layer:hover h3{
  bottom: 49%;
  opacity: 1;
}

/*SIGN IN*/
.cta{
  margin: 100px auto;
  width: 80%;
  background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(../Images/contact.jpg);
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  text-align: center;
  padding: 10px 0;
}

.cta h1{
  color: #fff;
  margin-bottom: 20px;
  padding: 0;
}

/*FOOTER*/
.footer{
  width: 100%;
  text-align: center;
  padding: 30px 0;
}

.footer h4{
  margin-bottom: 25px;
  margin-top: 10px;
  font-weight: 600;
}

.icons{
  margin: 0 13px;
  cursor: pointer;
  
}
